<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>restful-api</display-name>
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>v1/*</url-pattern>
	</servlet-mapping>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<role-name>role_admin</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>restfulapi</web-resource-name>
			<url-pattern>/*</url-pattern> <!-- URLs que vamos a proteger -->
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>paquete.service</param-value>
		</init-param>
		<init-param>
			<param-name>api.version</param-name>
			<param-value>1.0</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
</web-app>